<v-container fluid grid-list-md>
  <v-layout row wrap class="chart-list">
    <v-flex 
      v-for="(chart, index) of filteredData"
      :key="index"
      xs12
      class="mb-4 " 
      :class="{
        'md4': chart.size === 1,
        'md6': chart.size === 1.5,
        'md8': chart.size === 2,
        'md12': chart.size === 3
      }"
    >
      <v-card class="chart-block pa-3">
        <v-card-title class="headline pa-0">
          <div>
            {{ chart.title }}
            <v-btn v-if="chart.export && chart.data.datasets" @click="exportChart(chart.name, chart.title)" flat icon>
              <v-icon>file_download</v-icon>
            </v-btn>
          </div>
          
        </v-card-title>
        <div>
            <canvas v-show="chart.data.datasets" :class="'chart-' + index"></canvas>
            <v-progress-circular v-show="!chart.data.datasets" indeterminate :size="100" color="primary"></v-progress-circular>
          </div>
      </v-card>
      
    </v-flex>
    <a v-show="false" :download="chartTitle" :href="exportedImg" ref="export"></a>
  </v-layout>
</v-container>